@font-face {
  font-family: 'Times New Roman PS Std';
  src: url('//db.onlinewebfonts.com/t/d1cd521cd5ec28ada84c431eadc8fe0c.eot');
  src: url('//db.onlinewebfonts.com/t/d1cd521cd5ec28ada84c431eadc8fe0c.eot?#iefix')
      format('embedded-opentype'),
    url('//db.onlinewebfonts.com/t/d1cd521cd5ec28ada84c431eadc8fe0c.woff2')
      format('woff2'),
    url('//db.onlinewebfonts.com/t/d1cd521cd5ec28ada84c431eadc8fe0c.woff')
      format('woff'),
    url('//db.onlinewebfonts.com/t/d1cd521cd5ec28ada84c431eadc8fe0c.ttf')
      format('truetype'),
    url('//db.onlinewebfonts.com/t/d1cd521cd5ec28ada84c431eadc8fe0c.svg#Times New Roman PS Std')
      format('svg');
}

* {
  font-family: 'Times New Roman PS Std';
}

.Slider {
  --slider-height-percentage: 50%;
  --slider-transition-duration: 700ms;
  --organic-arrow-thickness: 4px;
  --organic-arrow-border-radius: 0px;
  --organic-arrow-height: 40px;
  --organic-arrow-color: #26456f;
  --control-button-width: 10%;
  --control-button-height: 25%;
  --control-button-background: transparent;
  --control-bullet-color: #999999;
  --control-bullet-active-color: black;
  --loader-bar-color: #f1d34a;
  --loader-bar-height: 6px;
  --content-background-color: white;
}

.TitleTop {
  font-size: 1.25rem;
  font-weight: bold;
  position: absolute;
  z-index: 100;
  display: flex;
  justify-content: center;
  margin: 1rem auto 0;
  text-transform: uppercase;
  left: 50%;
  transform: translateX(-50%);
}

.TitleBottom {
  font-size: 1.25rem;
  font-weight: bold;
  position: absolute;
  z-index: 100;
  display: flex;
  justify-content: center;
  margin: 1rem auto 0;
  text-transform: uppercase;
  left: 50%;
  transform: translateX(-50%);
}

.Button {
  z-index: 3;
  color: white;
  background-color: black;
  padding: 0.5rem;
  position: relative;
  display: block;
  justify-content: center;
  margin: 0 auto 2rem;
  font-size: 1rem;
}

@media screen and (max-width: 800px) {
  .TitleTop {
    font-size: 0.5rem;
  }

  .TitleBottom {
    font-size: 0.5rem;
  }

  .Button {
    padding: 0.5rem;
    font-size: 0.5rem;
  }
}
