.MessageList {
  text-align: center;
}

.Message {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 75%;
  font-size: 2.5rem;
  text-align: center;
}

.Attribution {
  color: black;
  display: flex;
  justify-content: center;
  margin: auto;
  width: 75%;
  font-size: 2rem;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .Message {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
    font-size: 1rem;
    text-align: center;
  }

  .Attribution {
    color: black;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
    font-size: 0.8rem;
    text-align: center;
  }
}
