.MessageList {
  text-align: center;
}

.TopMessage {
  color: red;
  display: flex;
  justify-content: center;
  margin: auto;
  width: 75%;
  font-size: 2rem;
  text-align: center;
}

.BottomMessage {
  color: blue;
  display: flex;
  justify-content: center;
  margin: auto;
  width: 75%;
  font-size: 2rem;
  text-align: center;
}

.Attribution {
  color: purple;
  display: flex;
  justify-content: center;
  margin: auto;
  width: 75%;
  font-size: 1.5rem;
  text-align: center;
}
